name: Build for LDPlayer (Android x86_64)

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build with NDK (x86_64)
      run: |
        # Sử dụng NDK có sẵn trong máy ảo Ubuntu của GitHub
        $ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android33-clang++ \
        main.cpp -o linux_injector_ldplayer \
        -static-libstdc++ -latomic -ldl

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: injector_x86_64
        path: linux_injector_ldplayer
