name: Build Linux Injector

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # Cho phép bạn nhấn nút build thủ công bất cứ lúc nào

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build project
      run: cmake --build build --config Release

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: linux_injector_binary
        path: build/linux_injector
