name: Build for Android

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Android NDK
      uses: n0rt3n/setup-ndk@v1
      with:
        ndk-version: r25c

    - name: Build with NDK
      run: |
        $ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android33-clang++ \
        main.cpp -o linux_injector_android \
        -static-libstdc++ -latomic -ldl

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: injector_android
        path: linux_injector_android
